<a href="https://colab.research.google.com/github/Wooney98/playdata-python/blob/main/02_%EC%BB%AC%EB%A0%89%EC%85%98_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수
- 코드의 반복을 줄이거나 어떠한 기능을 하기 위해 특정 코드를 모여둔것
$$
f(x) = 2x
$$

# 메소드
- 객체(값)에 소속되어 있는 함수

In [ ]:
S = 'ABCD'

len(S)

4

In [ ]:
S.lower()

'abcd'

# 컬렉션 자료형(Collection data type)
- 여러가지 요소를 하나로 묶어서 담을 수 있는 데이터 타입
    - 문법적인 요소를 빼고 다 담을 수 있다.
    - 격체, 변수, 함수, 클래스... 등 담을 수 있다.
    - `list, set, dict, tuple`

# 자료형의 특징
- Sequence 자료형
    - 열거, 연속 되어있음.
    - 순서, 순번(index)이 있음.
- mutable 자료형
    - 수정 가능한 객체
    - 컬렉션 자료형 : `list, set, dict`
- immutable 자료형
    - 수정 불가능한 객체
    - 기본 자료형 : `int, float, str, bool` 
    - 컬렉션 자료형 : `tuple`

#list
- Sequence 자료형
- mutable 자료형
    - 수정 가능
- 중복 데이터 저장 가능
- `[]`를 이용해서 만들 수 있다.

In [ ]:
lst = [1,2,3,4,4, 'four', None, 7.0]
lst

[1, 2, 3, 4, 4, 'four', None, 7.0]

In [ ]:
type(lst)

list

In [ ]:
len(lst)

8

In [ ]:
lst = [1,2,3,[1,2]]
len(lst)

4

In [ ]:
lst = [11,200,7,9,10]
sorted(lst)  # 순방향 정렬 메서드

[7, 9, 10, 11, 200]

In [ ]:
max(lst)

200

In [ ]:
min(lst)

7

In [ ]:
sum(lst)

237

In [ ]:
avg = sum(lst)/len(lst)
avg

47.4

## 시퀀스 다루기
- Sequence는 순번이 있다.
    - 순번을 index 라고 한다.
- 파이썬의 인덱스는 두 종류가 있다.
    - 양수 인덱스
        - `0`을 포함하여 시작.
        - 왼쪽에서 오른쪽으로 1씩 증가
    - 음수 인덱스
        - `-1`부터 시작.
        - 오른쪽에서 왼쪽으로 1씩 감소
- 인덱스는 `정수`로 선언

In [ ]:
lst = [1,2,3,4,4, 'four', None, 7.0]

lst[0]

1

In [ ]:
lst[3]

4

In [ ]:
lst[4]

4

In [ ]:
lst[-2] # None

In [ ]:
lst[-1]

7.0

## 슬라이싱(Slicing)
- 인덱스를 사용해서 시퀀스를 잘라낸다.
- 시퀀스에서 특정 범위를 가리킨다.
- `[ a: b: c]` 
    - a = start값
    - b = end값
    - c = step값(증가, 배수)
- `start ~ end-1`부분을 `step`만큼 건너 뛰면서 잘라낸다.

In [ ]:
lst = ["a","b","c","d","e","f","g"]
lst

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
lst[0:3]

['a', 'b', 'c']

In [ ]:
lst[2:4]

['c', 'd']

In [ ]:
lst[-3:-1]

['e', 'f']

- `start, end, step`은 생략이 가능하다.
- `start`생략 시, `0`이 들어간다.
- `end`생략 시, `시퀀스의 길이(len())`가 들어간다.

In [ ]:
lst[:] # lst[0:len(lst)]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
lst[:5]

['a', 'b', 'c', 'd', 'e']

In [ ]:
lst[-5:]

['c', 'd', 'e', 'f', 'g']

In [ ]:
lst[:-1]

['a', 'b', 'c', 'd', 'e', 'f']

- step
    - 지정한 범위에서 `step` 만큼 건너뛰면서 슬라이싱
    - `step`을 생략하면 기본적으로 1이 주어진다.

In [ ]:
lst[0:len(lst):1]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

- `step` 부분을 양수, 음수를 이용하여 방향 설정 가능
    - 양수 = 정방향(왼->오)
    - 음수 = 역방향(오->왼)

In [ ]:
lst[::2]

['a', 'c', 'e', 'g']

In [ ]:
lst[::-2]

['g', 'e', 'c', 'a']

In [ ]:
lst = [10,20,30,40,50,60,70]
lst

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
lst[3:4:1]

[40]

In [ ]:
lst[-2:-6:-1]

[60, 50, 40, 30]

In [ ]:
lst[5:1:-1]

[60, 50, 40, 30]

### 10보다 작은 3의 배수만 오름차순으로 슬라이싱 하시오.

In [ ]:
num_list = [2,3,4,5,6,7,8,9,10,11,12,13,14,15]
num_list

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
num_list[1:-6:3]

[3, 6, 9]

## mutable 한 리스트

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[1] = 10000
lst

[1, 10000, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lst[:1] = 3
lst
# lst[:1] = 3 은 에러
# why? 슬라이싱한 객체는 단일값이 아닌 리스트로 반환되기때문

TypeError: ignored

In [ ]:
lst[1:] = [3] 
lst

[1, 3]

In [ ]:
lst[1:] = [1001,1002,1003,1004]
lst

[1, 1001, 1002, 1003, 1004]

- step 을 2 이상을 넣어 연속적인 공간이 아닌 리스트가 슬라이싱 되면 수정이 안된다.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[1::2] = [0]

ValueError: ignored

## `list` 의 메서드

- `append()`
    - 리스트 맨뒤에 값을 추가

In [ ]:
lst = [1,2,3,4]
lst.append(0)
lst

[1, 2, 3, 4, 0]

- `sort()`
    - 리스트 항목을 순방향으로 정렬

In [ ]:
lst.sort()
lst

[0, 1, 2, 3, 4]

In [ ]:
sorted(lst)

[0, 1, 2, 3, 4]

In [ ]:
lst

[1, 2, 3, 4, 0]

In [ ]:
#함수와 메서드의 차이 (sorted()와 sort())
#함수는 sum(), abs() 같이 독립적으로 사용되는 반면, 메서드는 a라는 객체가 존재할 때 a.upper(), a.lower()와 같은 형태로 사용됩니다.

$$
funtion ⊃ method
$$

- `pop()`
    - 제일 뒤에 있는 데이터를 꺼내고 삭제
    - 인덱스 값을 줄 경우 해당 인덱스 값을 꺼내고 삭제

In [ ]:
lst

[0, 1, 2, 3, 4]

In [ ]:
print(lst.pop())
print(lst)

print(lst.pop())
print(lst)

4
[0, 1, 2, 3]
3
[0, 1, 2]

In [ ]:
lst.pop(1)
lst

[0, 2]

- `extend()`
    - 리스트와 리스트를 합친다.

In [ ]:
lst = [1,2,3]
lst.extend([4,5,6])
lst

[1, 2, 3, 4, 5, 6]

- append()와 차이점

In [ ]:
lst = [1,2,3]
lst.append([4,5,6])
lst

[1, 2, 3, [4, 5, 6]]

- `insert()`
    - 인덱스 위치에 값을 추가한다.

In [ ]:
lst = [1,2,3]
lst.insert(0,9) #(위치, 추가할 객체)
lst

[9, 1, 2, 3]

- `remove()`
    - 리스트에서 값을 찾아 삭제한다.

In [ ]:
lst = [10,20,30]
lst.remove(20)
lst

[10, 30]

- `del` 키워드
    - 리스트에 경우 특정 인덱스 값을 삭제한다.
    - 삭제 가능한 것들 : 리스트 값, 변수, 변수가 참초한 객체값

In [ ]:
lst = [10,20,30]
del lst[1]
lst

[10, 30]

- Quiz

In [ ]:
#다음의 리스트에서 앞에서부터 하나씩 꺼내 값을 출력하면서 모든 값을 꺼내시오
#lst = [1,2,3,4]

lst = [1,2,3,4]
lst.pop(0)

1

In [ ]:
lst.pop(0)

2

In [ ]:
lst.pop(0)

3

In [ ]:
lst.pop(0)

4

In [ ]:
#다음의 리스트에서 2의 배수만 내림차순으로 슬라이싱 하시오
#num_lst=[2,3,4,5,6,7,8,9,10,11,12,13,14,15]
#num_lst

num_lst=[2,3,4,5,6,7,8,9,10,11,12,13,14,15]
num_lst[ -2: : -2]

[14, 12, 10, 8, 6, 4, 2]

In [ ]:
#다음의 리스트에서 sort메소드와 인덱싱만을 이용하여 최대값과 최소값을 구하시오
#num_list = [6,7,8,9,11,12,13,14,15,2,3,4,5]
#num_list

num_list = [6,7,8,9,11,12,13,14,15,2,3,4,5]
num_list.sort()
print(num_list)

print('최소값 : ',num_list.pop(0))
print('최대값 : ',num_list.pop())

[2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15]
최소값 :  2
최대값 :  15

## 연산자를 이용한 list

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]

In [ ]:
list1 + list2 # 리스트끼리 합칠 때 extend()보다 속도가 빠르다.

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 + [2]  # 하나의 요소를 추가할땐, append() 메서드가 더 빠르다.

[1, 2, 3, 2]

In [ ]:
list1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
list1 # 원본 데이터는 수정되지 않는다.

[1, 2, 3]

In [ ]:
2 in list1

True

In [ ]:
1004 not in list1

True

In [ ]:
list1 == [1,2,3] # 각 인덱스 위치에 맞는 요소의 값을 검사한다.

True

## is 연산자와 is not 연산자
- 같은 객체인지 아닌지 검사한다.
- 주소값이 같은지 검사한다.
- 어떤 연산결과로 나온 변수값을 `True`인지 `False`인지 `None`인지 체크할 때 사용

In [1]:
lst = [1,2,3]

lst is [1,2,3] # 새로 추가된 객체, 주소값이 다름

False

In [ ]:
tmp = lst  # 주소값 포함 객체 그대로를 변수tmp에 저장
tmp is lst

True

In [ ]:
tmp is not lst

False

In [ ]:
data_list = None
data_list is not None

False

# `tuple` 자료형
- Sequence 자료형
- Immutable 자료형(수정x)
- 중복데이터 저장 가능
- `()`를 이용하여 생성할 수 있다.(소괄호 생략가능)
- 프로그램이 실행되는 동안 요소들이 변경되면 안될 때 사용
- 리스트보다 메모리를 적게 차지하고, 속도가 빠르다.

In [ ]:
tuple1 = (1,2,3,4)
tuple1

(1, 2, 3, 4)

In [ ]:
tuple1 = "h", "e", "l","l","o"
tuple1

('h', 'e', 'l', 'l', 'o')

In [ ]:
type(tuple1)

tuple

In [ ]:
tuple1[::-1]

('o', 'l', 'l', 'e', 'h')

In [ ]:
tuple1.count("l")  # 인자값이 몇개 있는지 반환하는 메서드 count()

2

In [ ]:
tuple1.count(1)

0

In [ ]:
tuple1 + tuple1

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

In [ ]:
tuple1 * 3

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

- 슬라이싱 복습
    - 다음의 튜플에서 슬라이싱을 활용하여 짝수만 출력해보자.

In [ ]:
num_tuple = (1,2,3,4,5,6,7,8,9,10)
num_tuple[1::2]

(2, 4, 6, 8, 10)

- 짝수 내림차순

In [ ]:
num_tuple[::-2]

(10, 8, 6, 4, 2)

- 함수 복습
    - num_tuple의 최대값,최소값,합계,튜플안에 요소개수를 출력해보자.

In [ ]:
print("최대값 :",max(num_tuple))
print("최소값 :",min(num_tuple))
print("합계 :",sum(num_tuple))
print("튜플의 요소개수 :",len(num_tuple))

최대값 : 10
최소값 : 1
합계 : 55
튜플의 요소개수 : 10

# `set` 자료형
- Non-Sequence 자료형
- 데이터의 저장 순서를 보장하지 않는다.
    - 인덱싱과 슬라이싱을 지원하지 않음.
- mutable 자료형    
- 중복데이터의 저장 허용X
- `{}` 를 이용하여 만든다.
- in 연산자와 not in 연산자는 지원된다.
- 덧셈이나 곱셈 연산자는 지원하지 않는다.

In [ ]:
sets = set()
type(sets)

set

In [ ]:
sets = {1001,1001,1001,1004,1004,11,22,33,44,100}
sets

{11, 22, 33, 44, 100, 1001, 1004}

In [ ]:
sets[0] # 인덱싱, 슬라이싱 X

TypeError: ignored

- set객체의 메서드

In [ ]:
A = {1,2,3}
B = {2,3,4}
A,B

({1, 2, 3}, {2, 3, 4})

In [ ]:
A.intersection(B) # 교집합

{2, 3}

In [ ]:
A.union(B) # 합집합

{1, 2, 3, 4}

In [ ]:
A.difference(B) # 차집합

{1}

In [ ]:
a = {1,2,3}
a.add(100)  # mutable, 하나의 값 추가할 때
a

{1, 2, 3, 100}

In [ ]:
a.update([1,2,3,4,5,6,7,8,9,10]) # 여러 값 추가할 때
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100}

In [ ]:
a.remove(100) # 특정 값 제거할 때
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# `dict`(Dictionary)
- Non-Sequence 자료형
- mutable 자료형
- key-value 구조
- key 중복 x, value 중복 o
```python
{
    key : value,
    key2 : value,
    ...
}
```

In [ ]:
city = {}
type(city)

dict

In [ ]:
city = {
    "한국" : "서울",
    "일본" : "도쿄",
    "캐나다" : "오타와"
}
city

{'일본': '도쿄', '캐나다': '오타와', '한국': '서울'}

In [ ]:
city["일본"] # dict의 값을 가져 올떄는 key값을 활용

'도쿄'

- `get()`

In [ ]:
city.get("중국")
city.get("중국", "없음") # 중국이라는 키가 없을경우 `없음` 문자열로 반환, # key값의 value가 있는지 없는지 확인할 때 사용

'없음'

In [ ]:
city["중국"] = "베이징" # value 추가
city

{'일본': '도쿄', '중국': '베이징', '캐나다': '오타와', '한국': '서울'}

In [ ]:
  city["일본"] = "오사카" # value 변경
  city

{'일본': '오사카', '중국': '베이징', '캐나다': '오타와', '한국': '서울'}

In [ ]:
add_city = {"중국": "상하이", "미국":"워싱턴"}
city.update(add_city) # 여러개의 key와 value를 수정 or 추가 가능한 update()
city

{'미국': '워싱턴', '일본': '오사카', '중국': '상하이', '캐나다': '오타와', '한국': '서울'}

In [ ]:
del city["일본"] # key와 value를 쌍으로 삭제
city

{'미국': '워싱턴', '중국': '상하이', '캐나다': '오타와', '한국': '서울'}

In [ ]:
print(city.pop("중국")) # 삭제 하고자하는 key를 넣는다.
city

상하이

{'미국': '워싱턴', '캐나다': '오타와', '한국': '서울'}

In [ ]:
city.keys() # dict 내 전체 key를 확인

dict_keys(['한국', '캐나다', '미국'])

In [ ]:
city.values() # dict 내 전체 value를 확인

dict_values(['서울', '오타와', '워싱턴'])

In [ ]:
city.items() # 리스트 형식으로 보는 key와 value

dict_items([('한국', '서울'), ('캐나다', '오타와'), ('미국', '워싱턴')])

In [ ]:
"한국" in city.keys()

True

In [3]:
num_dict = {
    0:"제로",
    3.14:"원주율",
    True:"T",
    "etc":{
        "Dream":"Developer"
    }
}
num_dict

{0: '제로', 3.14: '원주율', True: 'T', 'etc': {'Dream': 'Developer'}}

In [4]:
num_dict[True]

'T'

In [ ]:
num_dict[3.14]

'원주율'

- mean의 키를 avg로 변경하시오. pop메서드 이용

In [ ]:
num_dict = {
    "mean" : 80,
    "std" : 3.5
}

num_dict["avg"] = num_dict.pop("mean")
num_dict

{'avg': 80, 'std': 3.5}

# 컬렉션 자료형 변환

- `list` -> `tuple`

In [ ]:
lst = [1,2,3]
tuple(lst)

(1, 2, 3)

- `tuple` -> `list`

In [ ]:
tuple = 1,2,3
list(tuple)

[1, 2, 3]

- `set` -> `list`

In [ ]:
sets = {"Apple","Banana","Mango"}
list(sets)

['Banana', 'Apple', 'Mango']

- `dict` -> `list`

In [ ]:
dict1 = {
    "한국":"서울",
    "미국":"워싱턴",
    "일본":"도쿄"
}

list(dict1) # key가 리스트로 반환, = list(city.keys())

['한국', '미국', '일본']

In [ ]:
tup_list = list(dict1.items())
tup_list

[('한국', '서울'), ('미국', '워싱턴'), ('일본', '도쿄')]

In [ ]:
dict(tup_list)

{'미국': '워싱턴', '일본': '도쿄', '한국': '서울'}

In [ ]:
text = "hello"
list(text) # 문자열에 각 문자가 리스트에 하나의 요소로 들어간다.

['h', 'e', 'l', 'l', 'o']

In [ ]:
# text 의 문자열이 어떠한 알파벳으로 구성되어있을까?
set(text)

{'e', 'h', 'l', 'o'}