<a href="https://colab.research.google.com/github/Wooney98/playdata-python/blob/main/06_%ED%81%B4%EB%9E%98%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 클래스(Class)
- 변수와 함수를 묶어놓은 개념
- 클래스는 `객체`를 만들기 위한 설계도
- 클래스를 객체화하면 그걸 `인스턴스`(instance)라고한다.

## 클래스의 구조
- 변수: 인스턴스(객체화되면 사용되는) 변수, 클래스(클래스 정의시 사용되는) 변수가 있음
- 함수: 메소드(객체의 소속된 함수)
- `__init__` 메소드: 생성자
    - 객체의 초기화를 담당, 객체의 변수의 값을 초기 설정
    - 객체화가 되었을때 생성해야하거나 초기값을 설정해야하는 인스턴스 변수들이 있다면 `__init__`메소드 안에 선언하면 됨

### 클래스 정의
```python
class<ClassName>:
    def __init__(self):
        code context
        ...
    def<method_name>(self):
        code context
        ...
        
```

In [1]:
class PlayerCharacter:
    def __init__(self,hp,exp): 
        # 참조연산자를 통해 인스턴스 변수를 정의
        self.hp = hp
        self.exp = exp

In [2]:
player1 = PlayerCharacter(100,0) # hp = 100, exp = 0
player2 = PlayerCharacter(200,50)

player1.hp, player1.exp, player2.hp, player2.exp

(100, 0, 200, 50)

- `self`
    - 클래스가 객체화 되었을때 자기 자신의 주소를 받는 파라미터
    - 클래스 내에 정의된 self는 클래스 인스턴스임을 알 수 있다.

In [3]:
class MyClass:
    def __init__(self):
        print(id(self))

In [4]:
mc = MyClass() # 주소값

140341607861968

In [5]:
id(mc)

140341607861968

- `__init__` 메소드를 만들지 않았을 때

In [6]:
class PlayerCharacter:

    def attack(self):
        print('공격하기')
        self.exp += 2

    def set_up(self,exp):
        self.exp = exp

In [7]:
player = PlayerCharacter()

player.set_up(10)
player.exp

10

In [8]:
player.attack()
player.exp

공격하기

12

In [28]:
class PlayerCharacter:
    def __init__(self,hp,exp): 
        # 참조연산자를 통해 인스턴스 변수를 정의
        self.hp = hp
        self.exp = exp 

    def attack(self):
        print("공격하기")
        self.exp += 2 # self를 참조하여 인스턴스 변수에 접근

    def defend(self):
        print("방어하기")
        self.exp += 1
    
    def attacked(self,attack_size):
        print("공격받음")
        self.hp = self.hp - attack_size

In [32]:
player1 = PlayerCharacter(100,0)
player2 = PlayerCharacter(120,10)

In [11]:
player1.attack()
player1.defend()
player1.attacked(3)

공격하기
방어하기
공격받음

In [15]:
print(player1.hp)
print(player1.exp)

97
3

In [33]:
player2.attack()
player2.attack()
player2.attack()
player2.attacked(10)

공격하기
공격하기
공격하기
공격받음

In [34]:
print(player2.hp)
print(player2.exp)

110
16

- 클래스 변수

In [25]:
class User:
    user = "Wizard"
    def __init__(self,hp=100,exp=0):
        self.hp = hp
        self.exp = exp

In [30]:
User.hp # 객체화 되지 않았기 때문에 인스턴스 변수 hp 참조 불가

AttributeError: ignored

In [31]:
User.user

'Wizard'

In [35]:
player1 = User()
player2 = User(200, 20)

player1.user, player2.user

('Wizard', 'Wizard')

- 클래스  메소드
    - 객체화 하지 않아도 사용 가능한 메소드

In [36]:
class User:
    user_type = "Wizard"

    @classmethod
    def print_user_type(cls): # 클래스의 주소를 받는 파라미터 cls
        print(cls.user_type)
User.print_user_type()

Wizard

In [37]:
class CFG:
    train_data_path = "/data/train/"
    test_data_path = "/data/test/"
    model_name = "deep_model"

In [38]:
CFG.model_name

'deep_model'

In [40]:
def preprocess(cfg):
    pass
preprocess(CFG)

```
Wizard 클래스 만들기
인스턴스 변수 : hp, exp, mp
메소드:
    attack:공격하기 출력 exp+5
    defend:방어하기 출력 exp+1
    attacked: attacked_size인자, 공격받음 출력 hp-attacked_size
    magic_skill : mp-3
```

In [41]:
class Wizard:
    def __init__(self,hp,exp,mp):
        self.hp = hp
        self.mp = mp
        self.exp = exp
    def attack(self):
        print("공격하기")
        self.exp += 5
    def defend(self):
        print("방어하기")
        self.exp += 1
    def attacked(self,attacked_size):
        print("공격받음")
        self.hp = self.hp - attacked_size
    def magic_skill(self):
        self.mp -= 3

In [44]:
user1 = Wizard(200,50,100)
user1.attack()
user1.defend()
user1.attacked(100)
user1.magic_skill()

공격하기
방어하기
공격받음

In [47]:
class Car:
    def __init__(self,name,color,num):
        self.name = name
        self.color = color
        self.num = num
    
    def set_info(self,name,color,num):
        self.name = name
        self.color = color
        self.num = num

    def info(self):
        print("차종:",self.name)
        print("색깔:",self.color)
        print("번호:",self.num)

morning = Car("모닝","Blue",1234)
morning.set_info("렉서스","Red","3787")

morning.info()

차종: 렉서스
색깔: Red
번호: 3787

```
다음과 같은 형태의 리스트를 입력받고 , key 이름들을 리스트로 입력 받아 dict 자료형을 생성하는 클래스를 만드시오
ex)
class DictDataset:
    code context
data = [
        [1,2,3,4,5,6,7,8,9],
        [10,20,30,40,50,60,70,80,90]
]
dict_dt = DictDataset(data,["col1","col2"])
dict_dt.dataset
Ouput:
{'col1': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'col2': [10, 20, 30, 40, 50, 60, 70, 80, 90]}
```

In [52]:
# 강사님 코드
class DictDataset:

    def __init__(self, data, keys):
        self.dataset = dict(zip(keys,data))

data = [
[1,2,3,4,5,6,7,8,9],
[10,20,30,40,50,60,70,80,90]
]
keys = ["col1","col2"]
dict_dt = DictDataset(data,keys)
dict_dt.dataset

{'col1': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'col2': [10, 20, 30, 40, 50, 60, 70, 80, 90]}

```
위에 구현한 클래스에서 추가 메소드를 작성하시오
head 메소드와 tail 메소드를 작성하세요
head 메소드의 경우 인자값이 없을경우 dict의 모든 value의 앞에서 5개의 값들이 key 와 함께 dict 형태로 리턴되게 하세요
tail 메소드의 경우 인자값이 없을경우 dict의 모든 value의 뒤에서 5개의 값들이 key 와 함께 dict 형태로 리턴되게 하세요.
(역순으로 출력되는 것이 아님)
head , tail 모두 인자값이 주어질경우 인자값 개수만큼 value가 나오게 한다.
(1 이상 인자값을 받는다는 가정을 하기 때문에 조건문으로 체크 안해도 됩니다.)
ex)
class DictDataset:
    def __init__(self,lst,keys):
        self.dataset = dict(zip(keys,lst))
dict_dt = DictDataset(data,["col1","col2"])
dict_dt.head()
Output:
{'col1': [1, 2, 3, 4, 5], 'col2': [10, 20, 30, 40, 50]}
dict_dt.head(3)
Output:
{'col1': [1, 2, 3], 'col2': [10, 20, 30]}
dict_dt.tail()
Output:
{'col1': [5, 6, 7, 8, 9], 'col2': [50, 60, 70, 80, 90]}
dict_dt.tail(3)
Output:
{'col1': [7, 8, 9], 'col2': [70, 80, 90]}
```

In [86]:
class DictDataset:
    def __init__(self,lst,keys):
        self.dataset = dict(zip(keys,lst))
    
    def head(self,n=5):
        # if n == None:
        #     dict(n.items(5))
        # else:
        #     dict(n.items())
        result = { k:v[:n] for k,v in self.dataset.items()}
        return result
        
    def tail(self,n=5):
        result = { k:v[-n:] for k,v in self.dataset.items()}
        return result


data = [
[1,2,3,4,5,6,7,8,9],
[10,20,30,40,50,60,70,80,90]
]
keys = ["col1","col2"]

dict_dt = DictDataset(data,keys)
dict_dt.tail(3)

{'col1': [7, 8, 9], 'col2': [70, 80, 90]}

```
초기 숫자를 받아서 객체로 생성하는 클래스를 구현하라
```

In [88]:
class Calculator:
    def __init__(self,n):
        self.x = n
    def add(self,n):
        self.x += n
        return self.x

    def sub(self,n):
        self.x -= n

    def mul(self,n):
        self.x *= n

    def div(self,n):
        if n == 0:
            return 0
        else:
            self.x = self.x / n
    def get_result(self):
        n = int(self.result)
        return n

cal1 = Calculator(3)
print(cal1.add(3))

6

```
구현한 클래스에서 추가 메소드를 작성하시오
rename 메소드를 작성하세요
딕셔너리를 입력 받아 인스턴스 변수인 dataset의 key를 변경하는 메소드를 작성하세요.
ex)
dict_dt = DictDataset(data,["col1","col2"])
keys_rename = {
    "col1" : "num1",
    "col2" : "num2"
}
dict_dt.rename(keys_rename)
dict_dt.dataset
Output:
{'num1': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'num2': [10, 20, 30, 40, 50, 60, 70, 80, 90]}
```

In [89]:
class DictDataset:

    def __init__(self,lst,keys):
        self.dataset = dict(zip(keys,lst))

    def head(self,n = 5 ):
        result = { k:v[:n] for k,v in self.dataset.items() }
        return result

    def tail(self,n = 5):
        result = { k:v[-n:] for k,v in self.dataset.items() }
        return result

    def rename(self,i):
        for k,v in i.items():
            self.dataset[v] = self.dataset.pop(k)
        

dict_dt = DictDataset(data,["col1","col2"])
keys_rename = {
    "col1" : "num1",
    "col2" : "num2"
}
dict_dt.rename(keys_rename)
dict_dt.dataset

{'num1': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'num2': [10, 20, 30, 40, 50, 60, 70, 80, 90]}